
#content{
    width:1200px;
    margin-left: auto;
    margin-right:auto;
}
p{
    display:none;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:150px;
    font-size:48px;
    font-weight: bold;
    color:red;
    line-height: 150px;
    text-align: center;
    background-color: aqua;
    margin-top:10px;
    margin-bottom:10px;
    padding:0px;
}

.messages p:first-child{
    display:block;
    background-color: #FFC6C4;
    color:#CC5683;
}
.messages p:nth-child(2){
    background-color: #56B6CC;
    color:white;
}
.messages p:nth-child(3){
    background-color: #128099;
    color:#FFF485;

}
.messages p:nth-child(4){
    background-color: #85FFD2;
    color:#B34F39;
}

p.open{
    display:block;
}

.ballon{
    width:300px;
    text-align: center;
    padding-top:150px;
    display:none;
}
.ballon_left{
    float:left;

}

.ballon_right{
    float:right;

}